
.dong1 {
    background:white;
    color:rgb(59, 64, 201);
}

table {
    border-collapse: collapse;
    width: 600px;
    margin: auto;
    background-color: #f9ffbffe;
}

th {
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

td {
    color: rgb(50, 94, 198);
    padding: 10px;
  
}

.dongy {
    color: orange;
    text-align: center;
}
